body {
  background-color: #e6ecf0;
}

/* Nav */

.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

/*Anytime images are located inside the .navbar --> direct descendant selector */

.navbar-brand>img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 55px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding>.navbar {
  background-image: url("./images/nav1-bg.png");
  background-size: 100% 100%;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/signed-out-home.png");
  z-index: -1;
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: azure;
  text-shadow: 0 0 8px #66757f;
}

#sub-title1 {
  animation-name: moveInRight;
  animation-duration: 2s;
}

#sub-title2 {
  animation-name: moveInLeft;
  animation-duration: 2s;
}

#main-btn {
  animation-name: moveInBottom;
  animation-duration: 2s;
}

/* Custom Animation Functions */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10remx);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 2px 30px 10px 10px;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger, a.btn.btn-danger:hover {
  color: white;
}

.navbar-header {
  margin: 0 auto;
}